﻿/body {
    /*background-color: blue;*/
}

body .top_bar{
    background-color: lightgray;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
    body .top_bar .main_bar{
        width: 80%;
        /*background-color: brown;*/
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }
        body .top_bar .main_bar .contact_left{
            flex-grow: 4;
            /*background-color: blue;*/
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        body .top_bar .main_bar .login_right{
            flex-grow: 2;
            /*background-color: gray;*/
            display: flex;
            justify-content: center;
        }
body .main_container {
    margin-left: auto;
    margin-right: auto;
    /*background-color: lightgray;*/
}
    body .main_container .banner_container {
        display: flex;
        justify-content: center;
    }